# SPDX-FileCopyrightText: 2021-2026 SINTEF Energy Research
#
# SPDX-License-Identifier: GPL-3.0-or-later

Checks: >
    '-*,
     bugprone-*,
       -bugprone-branch-clone,
       -bugprone-casting-through-void,
       -bugprone-easily-swappable-parameters,
       -bugprone-exception-escape,
       -bugprone-implicit-widening-of-multiplication-result,
       -bugprone-unhandled-exception-at-new,
     clang-analyzer-*,
       -clang-analyzer-optin.cplusplus.VirtualCall,
       -clang-analyzer-optin.mpi.MPI-Checker,
     clang-diagnostic-*,
       -clang-diagnostic-c++17-attribute-extensions,
     cppcoreguidelines-*,
       -cppcoreguidelines-avoid-c-arrays,
       -cppcoreguidelines-avoid-do-while,
       -cppcoreguidelines-avoid-magic-numbers,
       -cppcoreguidelines-avoid-non-const-global-variables,
       -cppcoreguidelines-init-variables,
       -cppcoreguidelines-interfaces-global-init,
       -cppcoreguidelines-macro-usage,
       -cppcoreguidelines-no-malloc,
       -cppcoreguidelines-non-private-member-variables-in-classes,
       -cppcoreguidelines-owning-memory,
       -cppcoreguidelines-pro-*,
     misc-*,
       -misc-confusable-identifiers,
       -misc-const-correctness,
       -misc-header-include-cycle,
       -misc-include-cleaner,
       -misc-non-private-member-variables-in-classes,
       -misc-no-recursion,
       -misc-use-anonymous-namespace,
     modernize-loop-convert,
     modernize-make-unique,
     modernize-use-auto,
     modernize-use-default-member-init,
     modernize-use-nullptr,
     modernize-use-override,
     performance-*,
       -performance-avoid-endl,
     readability-*,
       -readability-avoid-unconditional-preprocessor-if,
       -readability-else-after-return,
       -readability-function-cognitive-complexity,
       -readability-function-size,
       -readability-identifier-length,
       -readability-implicit-bool-conversion,
       -readability-isolate-declaration,
       -readability-magic-numbers,
       -readability-make-member-function-const,
       -readability-named-parameter,
       -readability-simplify-boolean-expr,
    '

HeaderFilterRegex: ^(Source|Geometries|Physics|Exec)/
