*.ex
*.hdf5
*.MPI
*.session*
**/Make.defs.local
*.log
*.aux


**/doc/html/**
**/doc/sphinx/build/html/**
**/doc/sphinx/build/**
**/doc/sphinx/build/doctrees/**
**/mpi/loads/**
**/mpi/memory/**
*.doctree
*.pyc
**/app_builder/*.pyc
/o
/f
/p
/d
**/mini_apps/**
**/MiniApps/**
**/o/**
**/f/**
**/p/**
**/d/**
**/*.a
**/*.o

Exec/Examples/StreamerInception/Vessel/report.txt
Exec/Examples/StreamerInception/ElectrodeRoughness/report.txt
Exec/Tests/StreamerInception/Vessel/report.txt


pout.*
time.table.*

myApplications/*
MyApplications/*
scripts/**
Research/**

docs
Docs/*
!Docs/.nojekyll
!Docs/Sphinx/
!Docs/doxygen.conf
!Docs/README.md
Docs/Sphinx/build
Docs/**/*.dat

