*.ex
*.hdf5
*.MPI
*.session*
**/Make.defs.local

**/doc/html/**
**/doc/sphinx/build/html/**
**/doc/sphinx/build/**
**/doc/sphinx/build/doctrees/**
**/mpi/loads/**
**/mpi/memory/**
*.doctree
*.pyc
**/app_builder/*.pyc
/o
/f
/p
/d
**/mini_apps/**
**/MiniApps/**
**/o/**
**/f/**
**/p/**
**/d/**
**/*.a
**/*.o

pout.*
time.table.*

myApplications/**
MyApplications/**
scripts/**
Research/**

Docs/**
!Docs/.nojekyll
!Docs/Sphinx/
!Docs/chombo-discharge.pdf
!Docs/Doxyfile
Docs/Sphinx/build/**
