*.ex
*.hdf5
*.MPI
*.session*
**/Make.defs.local
/doc/html/*.html
/doc/html/**
/doc/html/*
**/doc/html/**
**/doc/sphinx/build/html/**
**/doc/sphinx/build/**
**/doc/sphinx/build/doctrees/**
**/mpi/loads/**
**/mpi/memory/**
*.doctree
*.pyc
**/app_builder/*.pyc
/o
/f
/p
/d
**/mini_apps/**
**/MiniApps/**
**/o/**
**/doc/doxygen/html/**
**/doc/doxygen/latex/**
**/f/**
**/p/**
**/d/**
**/*.a
**/*.o
MyApplications/**
pout.*
time.table.*
Research
slurm*.out