name: Build and Deploy

on: [push, pull_request]

concurrency:
  group: ${{ github.ref }}-${{ github.head_ref }}-docs
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false        

      - name: Install dependencies
        run: |
          sudo apt install doxygen
          sudo apt install graphviz
          sudo apt install texlive
          sudo apt install texlive-latex-extra
          sudo apt install latexmk
          python3 -m pip install sphinx=5.0.0 sphinx_rtd_theme sphinxcontrib-bibtex

      - name: Build doxygen
        run: |
          doxygen Docs/doxygen.conf

      - name: Build HTML documentation
        working-directory: ${{ github.workspace }}/Docs/Sphinx        
        run: |
          make github

      - name: Build PDF documentation
        working-directory: ${{ github.workspace }}/Docs/Sphinx
        run: |
          make github-tex
          cd ${{ github.workspace }}/Docs/Sphinx/build/latex
          make
          cp chombo-discharge.pdf ${{ github.workspace }}/Docs
          cd ${{ github.workspace }}/Docs/Sphinx/          
          make clean
          
      - name: Deploy
        if: github.event_name == 'push' && github.repository == 'chombo-discharge/chombo-discharge' && github.ref == 'refs/heads/main'        
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: Docs
          clean: false
