name: Build and Deploy

on: [push, pull_request]

concurrency:
  group: ${{ github.ref }}-${{ github.head_ref }}-docs
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false        

      - name: Install dependencies
        run: |
          sudo apt install doxygen
          sudo apt install graphviz                    
          python3 -m pip install sphinx sphinx_rtd_theme sphinxcontrib-bibtex
          python3 -m pip install -I docutils==0.16  # Downgrade docutils so that bullet points render properly with Sphinx

      - name: Build doxygen
        run: |
          doxygen Doxyfile

      - name: Build sphinx
        run: |
          cd docs/Sphinx
          make github

      - name: Build sphinx-tex
        run: |
          cd docs/Sphinx
          make github-tex

      - name: Build pdf docs
        working-directory: ${{ github.workspace}}/docs/build/latex
        uses: xu-cheng/latex-action@v2        
        with:
          root_file: "chombo-discharge.tex"
          
      - name: Deploy
        if: github.event_name == 'push' && github.repository == 'chombo-discharge/chombo-discharge' && github.ref == 'refs/heads/main'        
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: docs
          clean: false
